body{
  margin: 0;
  padding: 0;
font-family: sans-serif;
background: #003da3;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00ff99
  text-align: center;
}
.box input[type = "text"], .box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin-left: 20px auto;
  text-align: center;
  border: 2px solid #B8860B;

}
